<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=cK7WM8p6hi4&t=19s"><span class="glyphicon glyphicon-user"></span> Android project and Augmented reality Project</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> More About Me <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://certification.w3schools.com/w3certified.asp?email=6105772">W3Schools Certifird HTML Developer</a></li>
            <li><a href="https://youtu.be/XfWGo8jw-RM">Unix Command Examples</a></li>
            <li><a href="https://github.com/mdkashem/cProgram"> C program examples </a></li>
            <li><a href="https://github.com/pfhchaos/senior-project">Senior-project </a></li>
            <li><a href="https://github.com/mdkashem/personalProject/tree/master/C%23_GuitarHero">C# project Example</a></li>
            <li><a href="https://github.com/mdkashem/personalProject/tree/master/Alphabets/Alphabets">Android Project for kids</a></li>
            <li><a href="https://github.com/mdkashem/GradeBook/tree/master/Gradebook">Node js, MongoDb, CSS, HTML, Java Script and JSON project</a></li>
            
          </ul>
      </li>
        
        <!-- Tutorials  code starts -->
         <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Tutorials <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/mips">Assembly Language</a></li>
            
            
          </ul>
      </li>
         <!-- Tutorials  code end -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
       
      </li>
    </ul>
  </div>
</nav>
