<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/profile.jpg">
    </a>
    <h1>Md Abul Kashem</h1>
    <p>Learning Advancer.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.unlimitedfashionus.com/"><span class="glyphicon glyphicon-flash"></span> Founder of the Unlimited Fashion </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/md-abul-kashem-4303a158/"><span class="glyphicon glyphicon-download"></span> Linked In Profile </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To See My other Node js application click the linked <a href="https://calm-fortress-3500.herokuapp.com/" class="alert-link">Other Application Example</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Some Course Works </h3>
      <ul>
        <li>Graphics project with c++ and openGL  <a href="https://github.com/mkashem/Graphics/tree/master/programs/470Project">Click to See</a> on the repository.</li>

        <li>Dungeon Advanture Game <a href="https://github.com/mdkashem/cscd_349_finalProject">Click to See</a>, on Github.</li>
        
        <li>Spring project example <a href="https://github.com/mdkashem/SpringProject">click to see</a>, on Github</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Skills</h3>
      <ul>
        <li>Object-Oriented:  Java, and C++ And C# </li>
        <li>Front End: Certified HTML developer, CSS, JavaScript, Bootstrap, JSON, jQuery, Angular, Express.js</li>
         <li>Back End: PHP, Node.js, MongoDB, Java, C#, ASP.net, SQL, Python. </li>
          <li>Others technology: Agile methodologies, Android App Development, C, OpenGl, Augmented Reality, R, MIPs Assembly Language. </li>
        <ul>
         
        </ul>
      </ul>
     
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   I would be encouraged to have the opportunity to meet with you to discuss more details of my coursework, and other experiences.
  </div>
</div>


</body>
</html>
