<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body  >   
   <% include ../partials/nav.ejs %> 
    
    
    
    <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/profile.jpg">
    </a>
    <h1>Md Abul Kashem</h1>
    <p>Software Developer.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.unlimitedfashionus.com/"><span class="glyphicon glyphicon-flash"></span> Founder of the Unlimited Fashion </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/md-abul-kashem-4303a158/"><span class="glyphicon glyphicon-download"></span> Linked In Profile </a>
  </div>
    </div> 
     <!-- for youtube vedio start code -->
    
<div class="container">
    <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Mips Programming </h3>
     
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1PWqS7W1Sh4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     
  
  </div> <!-- for youtube vedio code end -->
        
</div>
    
</body>



</html>